body {
    background-image: url(images/blur.jpg);
    color: #2c1b10;
    text-align: center;
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #111;
  
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 153, 97);
    color: black; 
    margin-bottom: 100px;
    padding: 10px;

}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

a {
    color:black;
    font-size: 18px;
}


p {
    font-size: 18px;
    margin: 30px 0;
}

button {
    background-color: #b08d49;
    color: white;
    font-size: 16px;
    padding: 12px 24px;

}
footer {
    text-align: center;
    background:#d2b478;
    color: black;
    padding: 5px;
    margin-top: 100px;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .hero h4 {
        font-size: 24px;
    }

    .hero p {
        font-size: 18px;
    }

    .btn-container {
        flex-direction: column;
        gap: 12px;
    }

    button {
        width: 80%;
        max-width: 280px;
        font-size: 16px;
    }
}
