* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffb6c1, #ffc0cb);
}

.login-container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    /*font-weight: bold;*/
}

.login-container h2 {
    margin-bottom: 20px;
    color: #6a1b9a;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #d3d3d3; /* Gray border */
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #d8b4fe; /* Light Purple */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c084fc; /* Darker Purple */
}

p {
    margin-top: 15px;
}

a {
    color: #a855f7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}